Repository MicrosoftDocs/azure-dev-docs, pull requests merged in 2020-07, with the labels that each got.

#230 Remove semicolon from python tutorial-vs-code-serverless-python-06
  articles/python/tutorial-vs-code-serverless-python-06.md
Labels: python

#234 Change web app to Java app
  articles/java/quickstarts/index.yml
Labels: aq-pr-triaged, java

#237 Update create-k8s-cluster-with-tf-and-aks.md
  articles/terraform/create-k8s-cluster-with-tf-and-aks.md
Labels: aq-pr-triaged, terraform
