Repository MicrosoftDocs/azure-dev-docs, pull requests merged in 2020-10, with the labels that each got.

#299 Added using statements
  articles/mobile-apps/includes/notification-hubs-backend-service-web-api.md
Labels: aq-pr-triaged, documentation, mobile-apps

#334 Update client-id for 'configure-spring-boot-starter-java-app-with-azure-active-directory-b2c-oidc'
  articles/java/spring-framework/configure-spring-boot-starter-java-app-with-azure-active-directory-b2c-oidc.md
Labels: aq-pr-triaged, documentation, java, spring

#327 Removed the references to the vi editor
  articles/terraform/create-vm-scaleset-network-disks-hcl.md
Labels: aq-pr-triaged, documentation, terraform

#332 Add quotes to example query
  articles/terraform/store-state-in-azure-storage.md
Labels: aq-pr-triaged, documentation, terraform
