Repository MicrosoftDocs/azure-dev-docs, pull requests merged in 2020-12, with the labels that each got.

#368 Remove duplicate link for Azure Functions extensions install
  articles/javascript/tutorial/tutorial-vscode-serverless-node-install.md
Labels: aq-pr-triaged, documentation, javascript

#369 Update java sdk logging to explain HttpLogOptions
  articles/java/sdk/java-sdk-azure-log.md
Labels: aq-pr-triaged, documentation, java

#386 Update best-practices-end-to-end-testing.md
  articles/terraform/best-practices-end-to-end-testing.md
Labels: aq-pr-triaged, documentation, terraform
