Repository MicrosoftDocs/azure-dev-docs, pull requests merged in 2020-11, with the labels that each got.

#345 Slight tweaks for consistency and review
  articles/github/connect-from-azure.md
Labels: aq-pr-triaged, documentation, github

#347 Added provider block
  articles/terraform/store-state-in-azure-storage.md
Labels: terraform

#359 Update link to tfsec in Terraform integration test tutorial
  articles/terraform/best-practices-integration-testing.md
Labels: aq-pr-triaged, documentation, terraform

#357 Update link to Terrascan in Terraform integration test tutorial
  articles/terraform/best-practices-integration-testing.md
Labels: aq-pr-triaged, documentation, terraform

#360 Update tutorial-vscode-docker-node-02.md
  articles/javascript/tutorial-vscode-docker-node-02.md
Labels: aq-pr-triaged, javascript
