Repository MicrosoftDocs/azure-dev-docs, pull requests merged in 2021-11, with the labels that each got.

#623 ansible/module-version-matrix.md s/role/collection/g
  articles/ansible/module-version-matrix.md
Labels: ansible, aq-pr-triaged

#620 Update vm-scale-set-configure.md
  articles/ansible/vm-scale-set-configure.md
Labels: ansible, aq-pr-triaged

#589 Documentation Enhancements
  articles/terraform/create-k8s-cluster-with-tf-and-aks.md
Labels: documentation, terraform, aq-pr-triaged

#646 Correct code formatting
  articles/java/spring-framework/configure-spring-boot-starter-java-app-with-azure-key-vault-certificates.md
Labels: java, aq-pr-triaged
