Repository MicrosoftDocs/azure-dev-docs, pull requests merged in 2021-02, with the labels that each got.

#406 Added the 'depends_on' Meta-Argument for kubesubnet and appgwsubnet
  articles/terraform/create-k8s-cluster-with-aks-applicationgateway-ingress.md
Labels: aq-pr-triaged, documentation, terraform

#410 List of pkgs supporting azure identity is not available
  articles/javascript/core/node-sdk-azure-authenticate.md
Labels: aq-pr-triaged, javascript

#423 Fix errors in sample code: Incorrect `credential_scopes` is passed to SDK clients
  articles/python/azure-sdk-sovereign-domain.md
Labels: aq-pr-triaged, documentation, python

#427 Fix typo in tutorial-vscode-azure-cli
  articles/javascript/tutorial/tutorial-vscode-azure-cli-node/tutorial-vscode-azure-cli-node-02.md
Labels: javascript

#421 Remove download link to Ansible VSCode extension
  articles/ansible/index.yml
  articles/ansible/toc.yml
Labels: ansible, aq-pr-triaged, documentation

#385 Fix provider warning in base Terraform sample
  articles/terraform/includes/terraform-create-base-config-file.md
Labels: aq-pr-triaged, documentation, terraform
