Repository MicrosoftDocs/azure-dev-docs, pull requests merged in 2021-06, with the labels that each got.

#522 Typo "`**kwargs`"→"`kwargs`"
  articles/python/azure-sdk-library-usage-patterns.md
Labels: aq-pr-triaged, azure/svc, python

#529 Update tutorial
  articles/python/tutorial-python-postgresql-app-portal.md
Labels: aq-pr-triaged, python

#533 update Django tutorials links to latest
  articles/python/tutorial-python-postgresql-app-portal.md
Labels: aq-pr-triaged
