Repository MicrosoftDocs/azure-dev-docs, pull requests merged in 2021-09, with the labels that each got.

#591 Typo "Docker explorer"→"Docker Explorer"
  articles/python/tutorial-deploy-containers-02.md
Labels: python

#590 Typo "Docker explorer"→"Docker Explorer"
  articles/javascript/tutorial/tutorial-vscode-docker-node/tutorial-vscode-docker-node-02.md
Labels: javascript, aq-pr-triaged

#597 command line for container registry login missing acr
  articles/jenkins/deploy-from-github-to-aks.md
Labels: jenkins, aq-pr-triaged

#608 Update tutorial-vscode-azure-cli-node-05.md - Fix link to next step so it goes to "Clean up resources"
  articles/javascript/tutorial/tutorial-vscode-azure-cli-node/tutorial-vscode-azure-cli-node-05.md
Labels: documentation, aq-pr-triaged
