Repository MicrosoftDocs/azure-dev-docs, pull requests merged in 2022-01, with the labels that each got.

#673 Typo "DOCKER explorer"→"Docker Explorer"
  articles/javascript/tutorial/tutorial-vscode-docker-node/tutorial-vscode-docker-node-04.md
Labels: javascript, aq-pr-triaged

#643 Update connect-from-azure.md
  articles/github/connect-from-azure.md
Labels: aq-pr-triaged, github, doc-bug

#683 Update configure-spring-boot-starter-java-app-with-azure-service-bus.md
  articles/java/spring-framework/configure-spring-boot-starter-java-app-with-azure-service-bus.md
Labels: documentation, spring, aq-pr-triaged

#687 Update create-github-repo.md
  articles/javascript/how-to/with-web-app/static-web-app-with-swa-cli/create-github-repo.md
Labels: javascript, aq-pr-triaged, doc-bug

#682 Drop Python 2 support
  articles/python/azure-sdk-overview.md
Labels: python, aq-pr-triaged
