Repository MicrosoftDocs/azure-dev-docs, pull requests merged in 2022-11, with the labels that each got.

#936 Update deploy-passwordless-spring-database-app.md
  articles/java/spring-framework/deploy-passwordless-spring-database-app.md
Labels: java, spring, aq-pr-triaged, Change sent to author

#938 Update configure-azure-virtual-desktop.md
  articles/terraform/configure-azure-virtual-desktop.md
Labels: documentation, terraform, aq-pr-triaged

#948 update mvn java library and functions version
  articles/java/spring-framework/getting-started-with-spring-cloud-function-in-azure.md
Labels: aq-pr-triaged

#951 Typo "Azure Monitor's"→"Azure Monitor"
  articles/javascript/how-to/node-sdk-logging.md
Labels: javascript

#955 Removed circular link reference
  articles/javascript/how-to/with-authentication/static-web-app-with-api/deploy-static-web-app-to-azure.md
Labels: javascript, aq-pr-triaged

#961 Typo "Azure Monitor application insights"→"Azure Monitor Application …
  articles/java/ee/jboss-on-azure.md
Labels: java, aq-pr-triaged, Change sent to author
