Repository MicrosoftDocs/azure-dev-docs, pull requests merged in 2023-02, with the labels that each got.

#1044 update host.json & local.setting.json
  articles/java/spring-framework/getting-started-with-spring-cloud-function-in-azure.md
Labels: java, spring, aq-pr-triaged

#1062 Typo "GitHub action workflow"→"GitHub Actions workflow"
  articles/python/python-web-app-github-actions-app-service.md
Labels: python, aq-pr-triaged

#1011 Code sample is outdated
  articles/go/azure-sdk-authentication.md
Labels: go, aq-pr-triaged, azure/svc, Change sent to author

#822 Made it clear that federated credentials are still in preview
  articles/github/connect-from-azure.md
Labels: aq-pr-triaged, github

#1064 Typo "GitHub action runner"→"GitHub Actions runner"
  articles/github/connect-from-azure.md
Labels: aq-pr-triaged, github, Change sent to author

#1076 Update spring-boot-starter-for-azure-active-directory-developer-guide.md
  articles/java/spring-framework/spring-boot-starter-for-azure-active-directory-developer-guide.md
Labels: java, spring

#1074 Added note for supported JDK version for JDK HTTP Client
  articles/java/sdk/http-client-pipeline.md
Labels: java, aq-pr-triaged, Change sent to author

#1079 Update for consistency of formatting
  articles/terraform/includes/configure-terraform.md
Labels: terraform, aq-pr-triaged, Change sent to author
