Repository MicrosoftDocs/azure-dev-docs, pull requests merged in 2023-01, with the labels that each got.

#1045 call out awesome-azd
  articles/azure-developer-cli/azd-templates.md
Labels: aq-pr-triaged

#996 Fixed flask clone url
  articles/python/tutorial-containerize-deploy-python-web-app-azure-02.md
Labels: python, aq-pr-triaged, azure-python/prod, Change sent to author

#1042 typo
  articles/javascript/tutorial/tutorial-vscode-docker-node/tutorial-vscode-docker-node-07.md
Labels: javascript, aq-pr-triaged
