Repository MicrosoftDocs/azure-dev-docs, pull requests merged in 2023-03, with the labels that each got.

#1088 Fix typo
  articles/java/spring-framework/secret-management.md
Labels: aq-pr-triaged

#1087 Adding instructions to install emulator on M*
  articles/azure-developer-cli/includes/azd-install-bare-metal.md
Labels: aq-pr-triaged, Change sent to author, azure-dev-cli

#1099 Typo fix - update to Build a .NET MAUI app with Azure Mobile Apps article and offline sync articles
  articles/mobile-apps/azure-mobile-apps/howto/data-sync.md
  articles/mobile-apps/azure-mobile-apps/quickstarts/maui/index.md
Labels: mobile-apps

#962 fix indentation of backend section
  articles/terraform/store-state-in-azure-storage.md
Labels: terraform, aq-pr-triaged

#959 Policy Signing Certificate has to be an X.509 Certificate
  articles/terraform/create-attestation-provider.md
Labels: terraform, aq-pr-triaged, Change sent to author

#927 Update comparing-terraform-and-bicep-integration-features.md
  articles/terraform/includes/comparing-terraform-and-bicep-integration-features.md
Labels: terraform, aq-pr-triaged

#1102 Typo fix - update to how to use the ASP.NET Core backend server SDK article
  articles/mobile-apps/azure-mobile-apps/howto/server/dotnet-core.md
Labels: aq-pr-triaged

#1103 change driver repository address and mvn setting
  articles/java/spring-framework/configure-spring-data-r2dbc-with-azure-mysql.md
Labels: java, spring, aq-pr-triaged, Change sent to author, mysql/svc
