Repository MicrosoftDocs/azure-dev-docs, pull requests merged in 2023-07, with the labels that each got.

#1195 Update the sample pom file.
  articles/java/spring-framework/getting-started-with-spring-cloud-function-in-azure.md
Labels: java, aq-pr-triaged, azure-functions/svc, Change sent to author

#1189 fix az eventhubs namespace
  articles/terraform/get-started-azapi-update-resource.md
Labels: documentation, terraform, aq-pr-triaged, Change sent to author

#1198 Typo "Azure OpenAI service"→"Azure OpenAI Service"
  articles/javascript/openai-cli.md
Labels: javascript, aq-pr-triaged, Change sent to author

#1217 Fix issue #1216
  articles/java/spring-framework/getting-started-with-spring-cloud-function-in-azure.md
Labels: aq-pr-triaged, azure-functions/svc, Change sent to author
