Repository MicrosoftDocs/azure-dev-docs, pull requests merged in 2024-04, with the labels that each got.

#1378 Update develop-serverless-apps.md
  articles/javascript/how-to/develop-serverless-apps.md
Labels: aq-pr-triaged, Change sent to author, azure-javascript/svc, do-not-merge, qualifies-for-auto-merge

#1381 Update blob endpoint based on recent changes.
  articles/azure-developer-cli/remote-environments-support.md
Labels: aq-pr-triaged, Change sent to author, azure-dev-cli/svc, ready-to-merge, qualifies-for-auto-merge

#1380 Fix: fix code snippets for handler and isenabledfor
  articles/python/sdk/azure-sdk-logging.md
Labels: aq-pr-triaged, Change sent to author, azure-python/svc, ready-to-merge, qualifies-for-auto-merge

#1383 Add link for Java workload destination guide
  articles/java/spring-framework/deploy-spring-boot-java-app-on-kubernetes.md
  articles/java/spring-framework/spring-app-service-e2e.md
Labels: azure-java/svc, Change sent to author, do-not-merge, qualifies-for-auto-merge

#1386 Replaced deprecated Go function
  articles/go/deploy-azure-resource-manager-template.md
Labels: aq-pr-triaged, Change sent to author, ready-to-merge, qualifies-for-auto-merge, azure-go/svc

#1387 Update azure-sdk-example-storage-use.md
  articles/python/sdk/examples/azure-sdk-example-storage-use.md
Labels: aq-pr-triaged, Change sent to author, azure-python/svc, ready-to-merge, qualifies-for-auto-merge
