Repository MicrosoftDocs/azure-dev-docs, pull requests merged in 2024-07, with the labels that each got.

#1399 Adds `prebuild` and `postbuild` to service lifecycle hook docs.
  articles/azure-developer-cli/azd-extensibility.md
Labels: Change sent to author, azure-dev-cli/svc, ready-to-merge, qualifies-for-auto-merge

#1401 Update install-azd.md
  articles/azure-developer-cli/install-azd.md
Labels: aq-pr-triaged, Change sent to author, azure-dev-cli/svc, ready-to-merge, qualifies-for-auto-merge

#1402 Update azd-templates.md
  articles/azure-developer-cli/azd-templates.md
Labels: Change sent to author, azure-dev-cli/svc, do-not-merge, qualifies-for-auto-merge

#1403 Update get-started-app-chat-template-langchainjs.md
  articles/javascript/get-started-app-chat-template-langchainjs.md
Labels: Change sent to author, azure-javascript/svc, do-not-merge, qualifies-for-auto-merge, intelligent-apps/subsvc
