Repository MicrosoftDocs/azure-dev-docs, pull requests merged in 2024-06, with the labels that each got.

#1393 fix: 📄 'push' typo
  articles/azure-developer-cli/use-external-registry.md
Labels: Change sent to author, azure-dev-cli/svc, ready-to-merge, qualifies-for-auto-merge

#1394 Update typo in intelligent-app-templates.md
  articles/ai/intelligent-app-templates.md
Labels: azure/svc, Change sent to author, do-not-merge, qualifies-for-auto-merge, intelligent-apps/subsvc

#1395 Update typo in intelligent-app-templates-python.md
  articles/ai/includes/intelligent-app-templates-python.md
Labels: azure/svc, Change sent to author, do-not-merge, qualifies-for-auto-merge, intelligent-apps/subsvc

#1398 Update vm-configure-windows.md VM extension pwsh link
  articles/ansible/vm-configure-windows.md
Labels: aq-pr-triaged, ansible/svc, Change sent to author, ready-to-merge, qualifies-for-auto-merge
