Repository MicrosoftDocs/azure-dev-docs, pull requests merged in 2024-12, with the labels that each got.

#1419 Remove duplicate lines
  articles/java/spring-framework/configuration-properties-azure-active-directory.md
Labels: aq-pr-triaged, azure-java/svc, Change sent to author, do-not-merge, qualifies-for-auto-merge

#1418 Spelling Fixes
  articles/ai/get-started-securing-your-ai-app.md
  articles/ai/includes/azure-ai-for-developers-dotnet.md
  articles/ai/includes/azure-ai-for-developers-javascript.md
  articles/ai/includes/intelligent-app-templates-dotnet.md
  articles/ai/includes/scaling-load-balancer-introduction-azure-container-apps.md
  articles/ansible/cache-for-redis-configure.md
  articles/ansible/includes/ansible-service-principal.md
  articles/ansible/service-bus-queue-configure.md
  articles/ansible/vm-configure-from-azure-shared-image-gallery.md
  articles/ansible/vm-scale-set-update-image.md
  articles/azure-developer-cli/ade-integration.md
  articles/azure-developer-cli/helm-kustomize-support.md
  articles/java/ee/deploy-java-liberty-app-aca.md
  articles/java/ee/howto-deploy-java-liberty-app-manual.md
  articles/java/ee/liberty-on-aro.md
  articles/java/ee/traditional-websphere-application-server-virtual-machines.md
  articles/java/migration/includes/ha-dr-for-jboss-fail-over-to-secondary-site.md
  articles/java/migration/migrate-weblogic-to-aks-with-ha-geo-redundancy.md
  articles/java/migration/migrate-weblogic-to-aks-with-keda-scaler-based-on-prometheus-metrics.md
  articles/java/migration/migrate-websphere-to-vms-with-ha-dr.md
  articles/java/spring-framework/kafka-support.md
  articles/java/spring-framework/migrate-kafka-to-passwordless-connection.md
  articles/java/spring-framework/spring-boot-starter-for-azure-active-directory-developer-guide.md
  articles/java/spring-framework/spring-jms-support.md
  articles/java/spring-framework/spring-jms-troubleshooting-guide.md
  articles/jenkins/azure-storage-blobs-as-build-artifact-repository.md
  articles/jenkins/deploy-from-github-to-aks.md
  articles/jenkins/deploy-to-azure-app-service-using-azure-cli.md
  articles/python/configure-python-web-app-local-environment.md
  articles/python/tutorial-containerize-deploy-python-web-app-azure-02.md
  articles/terraform/provider-version-history-azurerm-0-1-0-to-0-3-3.md
  articles/terraform/provider-version-history-azurerm-1-0-0-to-1-44-0.md
  articles/terraform/provider-version-history-azurerm-2-0-0-to-2-99-0.md
  articles/terraform/provider-version-history-azurerm-3-0-0-to-3-116-0.md
  articles/terraform/provider-version-history-azurerm-4-0-0-to-current.md
Labels: terraform/svc, Change sent to author, do-not-merge, needs-human-review, intelligent-apps/subsvc

#1417 Update troubleshoot.md
  articles/azure-developer-cli/troubleshoot.md
Labels: aq-pr-triaged, Change sent to author, azure-dev-cli/svc, do-not-merge, qualifies-for-auto-merge
