Repository MicrosoftDocs/azure-dev-docs, pull requests merged in 2024-01, with the labels that each got.

#1293 Updates `azd` hook config docs based on azd updates
  articles/azure-developer-cli/azd-extensibility.md
Labels: aq-pr-triaged, Change sent to author, azure-dev-cli, azure-dev-cli/svc, ready-to-merge

#1130 Update azure-sdk-configure-proxy.md: Replace Azure CLI with command line
  articles/python/sdk/azure-sdk-configure-proxy.md
Labels: python, aq-pr-triaged, Change sent to author

#1140 Update get-started.md, use "Dev Containers to replace Remote-Containers"
  articles/azure-developer-cli/get-started.md
Labels: aq-pr-triaged, Change sent to author, azure-dev-cli, azure-dev-cli/svc, ready-to-merge

#1332 Fix github/connect-from-azure.md yaml alignments
  articles/github/connect-from-azure.md
Labels: aq-pr-triaged, github, azure/svc, Change sent to author, ready-to-merge, qualifies-for-auto-merge

#1340 Update documentation for Java Project Destination Clarity
  articles/java/spring-framework/deploy-spring-boot-java-app-on-kubernetes.md
  articles/java/spring-framework/spring-app-service-e2e.md
Labels: aq-pr-triaged, app-service/svc, Change sent to author, do-not-merge, qualifies-for-auto-merge
