Repository MicrosoftDocs/azure-dev-docs, pull requests merged in 2024-05, with the labels that each got.

#1388 Update application-gateway-configure.md
  articles/ansible/application-gateway-configure.md
Labels: aq-pr-triaged, ansible/svc, Change sent to author, ready-to-merge, qualifies-for-auto-merge

#1379 Update vm-configure-windows.md for new ansible script location
  articles/ansible/vm-configure-windows.md
Labels: aq-pr-triaged, ansible/svc, Change sent to author, ready-to-merge, qualifies-for-auto-merge

#1390 Correcting github actions directory name from workflow to workflows
  articles/azure-developer-cli/configure-devops-pipeline.md
Labels: aq-pr-triaged, Change sent to author, azure-dev-cli/svc, ready-to-merge, qualifies-for-auto-merge

#1389 Recommend Microsoft's Docker extension
  articles/javascript/node-azure-tools.md
Labels: aq-pr-triaged, Change sent to author, azure-javascript/svc, ready-to-merge, qualifies-for-auto-merge
