Repository MicrosoftDocs/azure-dev-docs, pull requests merged in 2025-01, with the labels that each got.

#1425 Update get-started-securing-your-ai-app.md (Typo "Azure Open AI"→"Azu…
  articles/ai/get-started-securing-your-ai-app.md
Labels: azure/svc, Change sent to author, do-not-merge, qualifies-for-auto-merge, intelligent-apps/subsvc

#1426 Update get-started-app-chat-vision.md (Typo "Azure Open AI"→"Azure Op…
  articles/ai/get-started-app-chat-vision.md
Labels: azure/svc, Change sent to author, do-not-merge, qualifies-for-auto-merge, intelligent-apps/subsvc

#1424 feat: mention support for other directory in update configure-devops-…
  articles/azure-developer-cli/configure-devops-pipeline.md
Labels: aq-pr-triaged, Change sent to author, azure-dev-cli/svc, ready-to-merge, qualifies-for-auto-merge

#1428 Update java version requirement
  articles/jenkins/configure-on-linux-vm.md
Labels: aq-pr-triaged, jenkins/svc, Change sent to author, ready-to-merge, qualifies-for-auto-merge

#1427 Updated link to terraform task for pipelines
  articles/terraform/best-practices-integration-testing.md
Labels: aq-pr-triaged, terraform/svc, Change sent to author, ready-to-merge, qualifies-for-auto-merge

#1430 add C# creative-writer sample to get-started-multi-agents
  articles/ai/get-started-multi-agents.md
Labels: aq-pr-triaged, azure/svc, Change sent to author, ready-to-merge, qualifies-for-auto-merge, intelligent-apps/subsvc
