Repository MicrosoftDocs/azure-dev-docs, changes with the owners that CODEOWNERS names for each.
All owners: @mcleanbyron, @TomArcherMsft, @KarlErickson, @diberry, @bobtabor-msft, @alexwolfmsft, @scottaddie, @KarishmaGhiya, @maorleger, @pvaneck, @xiangyan99

CODEOWNERS:

# Testing the new code owners feature in GitHub. Please contact Cory Fowler if you have questions.

# Global owner
* @mcleanbyron

# Intro
/articles/intro/ @mcleanbyron

# DevOps
/articles/ansible/ @TomArcherMsft
/articles/chef/ @TomArcherMsft
/articles/jenkins/ @TomArcherMsft
/articles/terraform/ @TomArcherMsft

# DevEx
/articles/java/ @KarlErickson
/articles/javascript/ @diberry 
/articles/python/ @bobtabor-msft
/articles/go/ @bobtabor-msft

# Tools
/articles/azure-cli/ @alexwolfmsft

# Azure SDK authentication topics
/articles/javascript/sdk/authentication/ @scottaddie @KarishmaGhiya @maorleger
/articles/python/sdk/authentication/ @scottaddie @pvaneck @xiangyan99

Update package index with latest published versions
  articles/includes/dotnet-all.md
  articles/includes/dotnet-new.md
  articles/includes/java-all.md
  articles/includes/java-new.md
  articles/includes/javascript-all.md
  articles/includes/javascript-new.md
  articles/includes/python-all.md
  articles/includes/python-new.md
Owners: @mcleanbyron

Ratulac-update-msdate-content-freshness-initiative
  articles/java/spring-framework/configure-spring-app-with-cosmos-db-on-app-service-linux.md
  articles/java/spring-framework/configure-spring-boot-starter-java-app-with-azure-active-directory-b2c-oidc.md
  articles/java/spring-framework/configure-spring-boot-starter-java-app-with-azure-storage.md
  articles/java/spring-framework/configure-spring-cloud-stream-binder-java-app-with-service-bus.md
  articles/java/spring-framework/configure-spring-data-jdbc-with-azure-mysql.md
  articles/java/spring-framework/configure-spring-data-jdbc-with-azure-postgresql.md
  articles/java/spring-framework/configure-spring-data-jdbc-with-azure-sql-server.md
  articles/java/spring-framework/configure-spring-data-jpa-with-azure-mysql.md
  articles/java/spring-framework/configure-spring-data-jpa-with-azure-postgresql.md
  articles/java/spring-framework/configure-spring-data-jpa-with-azure-sql-server.md
  articles/java/spring-framework/configure-spring-data-mongodb-with-cosmos-db.md
  articles/java/spring-framework/deploy-passwordless-spring-database-app.md
  articles/java/spring-framework/deploy-spring-boot-java-app-on-kubernetes.md
  articles/java/spring-framework/deploy-spring-boot-java-app-on-linux.md
  articles/java/spring-framework/how-to-guides-spring-data-cosmosdb.md
  articles/java/spring-framework/secure-your-restful-api-using-spring-cloud-azure.md
  articles/java/spring-framework/spring-app-service-e2e.md
  articles/java/spring-framework/spring-cloud-azure-overview.md
  articles/java/spring-framework/using-storage-queue-in-spring-applications.md
Owners: @KarlErickson

Add auth code explanation to passwordless tutorials
  articles/python/tutorial-python-managed-identity-cli.md
Owners: @bobtabor-msft

Update articles/azure-developer-cli/get-started.md
  articles/azure-developer-cli/get-started.md
Owners: @mcleanbyron

On branch edburns-msft-arj-2224384-azd-review Suggested changes after beginner's mind review modified: articles/azure-developer-cli/azd-templates.md
  articles/azure-developer-cli/azd-templates.md
  articles/azure-developer-cli/get-started.md
  articles/azure-developer-cli/index.yml
  articles/azure-developer-cli/overview.md
Owners: @mcleanbyron

Update articles/azure-developer-cli/index.yml
  articles/azure-developer-cli/index.yml
Owners: @mcleanbyron

Update articles/azure-developer-cli/overview.md
  articles/azure-developer-cli/overview.md
Owners: @mcleanbyron

Update articles/azure-developer-cli/azd-templates.md
  articles/azure-developer-cli/azd-templates.md
Owners: @mcleanbyron

On branch edburns-msft-arj-2224384-azd-review Be more specific about the `.azure` directory. modified: articles/azure-developer-cli/get-started.md
  articles/azure-developer-cli/get-started.md
Owners: @mcleanbyron

Update articles/javascript/sdk/test-sdk-integration.md
  articles/javascript/sdk/test-sdk-integration.md
Owners: @diberry

Update articles/javascript/sdk/test-sdk-integration.md
  articles/javascript/sdk/test-sdk-integration.md
Owners: @diberry

Update articles/javascript/sdk/test-sdk-integration.md
  articles/javascript/sdk/test-sdk-integration.md
Owners: @diberry

Update articles/javascript/sdk/test-sdk-integration.md
  articles/javascript/sdk/test-sdk-integration.md
Owners: @diberry

Update articles/javascript/sdk/test-sdk-integration.md
  articles/javascript/sdk/test-sdk-integration.md
Owners: @diberry

Update articles/javascript/sdk/test-sdk-integration.md
  articles/javascript/sdk/test-sdk-integration.md
Owners: @diberry

Update articles/javascript/sdk/test-sdk-integration.md
  articles/javascript/sdk/test-sdk-integration.md
Owners: @diberry

Update articles/javascript/sdk/test-sdk-integration.md
  articles/javascript/sdk/test-sdk-integration.md
Owners: @diberry

Update articles/javascript/sdk/test-sdk-integration.md
  articles/javascript/sdk/test-sdk-integration.md
Owners: @diberry

Update articles/javascript/sdk/test-sdk-integration.md
  articles/javascript/sdk/test-sdk-integration.md
Owners: @diberry

Update articles/javascript/sdk/test-sdk-integration.md
  articles/javascript/sdk/test-sdk-integration.md
Owners: @diberry

Update articles/javascript/sdk/test-sdk-integration.md
  articles/javascript/sdk/test-sdk-integration.md
Owners: @diberry

Update articles/javascript/sdk/test-sdk-integration.md
  articles/javascript/sdk/test-sdk-integration.md
Owners: @diberry

Update articles/javascript/sdk/test-sdk-integration.md
  articles/javascript/sdk/test-sdk-integration.md
Owners: @diberry

edits
  articles/javascript/sdk/test-sdk-integration.md
Owners: @diberry

edits
  articles/javascript/sdk/test-sdk-integration.md
Owners: @diberry

Update package index with latest published versions
  articles/includes/dotnet-all.md
  articles/includes/javascript-all.md
  articles/includes/javascript-new.md
  articles/includes/python-all.md
  articles/includes/python-new.md
Owners: @mcleanbyron
